html{
    background: #0677f8;
}

section{
    background-color: #06c0f8;
    background-position: right bottom, left top;
    margin: 15px;
    padding: 280px;
    opacity: .3;
}

nav {
    display: flex;
    background: #F806CC;
    margin: 5px 205px;
    border-radius: 25px;
    justify-content: center;
    resize: horizontal;
    
}

.paginas {
    display: inline-flex;
    background: #3EC70B;
    color: black;    
    margin: 10px 10px;
    padding: 8px 8px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
}
.paginas:hover {
    background: #7009f7;
    margin: 10px 10px;
    padding: 8px 8px;
    
}


.b1 {
    background: #3EC70B;
    color: black;    
    margin: 10px 15px;
    padding: 10px 15px;
    border-radius: 25px;
    text-decoration: none;
    text-align: right;
    display: none;
}

.Tventanas {
    display: inline-flex;
    background: #F806CC;
    color: white;
    text-align: right;
    margin: 10px 10px;
    padding: 8px 8px;
    border-radius: 25px;
    
}

.user {
    display: flex;
    /* flex-direction: column; */
    /* margin: 0.01px 5px 0.01px 60px; */
    padding: 8px 8px;
    width: 40px;
    height: 40px;
    justify-content: right;
    
}

.centrado {
    justify-content: center;
}

.derecha {
    justify-content: left;
}

@media (max-width: 400px) {
    /* .section{
        background-color:#06c0f8;
        background-position:center;
        background-size: 0.1px 0.1px;
        margin-right: auto;
    }
     */
    nav {
        display: inline-flex;
        background: #F806CC;
        margin: 20px 3px; 
        padding: 12px 8%;
        border-radius: 7px;
        justify-content: center;
        
    }

    .ocultar {
        display: none;
    }

    .paginas {
        background: #3EC70B;
        color: black;    
        margin: 7px 1px;
        padding: 5px 1px;
        border-radius: 6px;
        text-decoration: none;
        text-align: center;
        font-size: 12px;
        opacity: 10;
    }

    .paginas:hover {
        background: #7009f7;
        margin: 7px 1px;
        padding: 5px 1px;
        
    }
    

    .b1 {
        background: #3EC70B;
        color: black;    
        margin: 5px 5px;
        padding: 5px 20px;
        border-radius: 6px;
        text-decoration: none;
        text-align: center;
        font-size: 12px;
        
    }

    .Tventanas {
        background: #F806CC;
        display: inline-flex;
        color: white;
        font-size: medium;
        text-align: center;
        margin: 1px;
        padding: 2.5% 80px;
        border-radius: 25px;
        
    }

    .user {
        flex-direction: column;
        margin: 1px 350px;
        
    }

    .grid {
        display: grid;
    }

}
